
<% content_for :add_css do %>
	<%= stylesheet_link_tag 'back_end' %>
	<%= stylesheet_link_tag 'animate' %>
	<%= stylesheet_link_tag 'green' %>
<% end %>

<% provide(:body_class, "login") %>

<% content_for :content do %>

	<div>
      <div class="login_wrapper">
        <div class="form">
          <section class="login_content">

				<%= yield :main %>

			    <div class="clearfix"></div>
			    <br>

			    <div>
			      <h1 style="position: relative;"><a href="<%= root_url %>" data-no-turbolink><i class="fa fa-paw"></i> HTube!</a></h1>
			      <p>©2016 All Rights Reserved. Privacy and Terms</p>
			    </div>
			  </div>
          </section>
        </div>
      </div>
    </div>
<% end %>

<% content_for :add_js do %>
	<%= javascript_include_tag 'back_end', "data-turbolinks-track" => true %>
	<%= javascript_include_tag 'parsley.min'%>
	<%= javascript_include_tag 'icheck.min'%>
<% end %>
