<li class="row" id="review-<%= review.id %>">
    <div class="col-sm-3 user_comment text-center">
        <img src="/assets/img-a91a7fec655b1989b407263a043a93b2925cd07b860e83076e5b847651d46aa1.jpg" alt="..." class="img-circle profile_img" style="width: 45px;">
        <p><%= review.user.username %></p>
    </div>
    <div class="col-sm-9 comment_content content">
        <p><%= review.content %></p>
        <span class="timestamp">
            Posted <%= time_ago_in_words(review.created_at) %> ago.
        </span>
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#<%= review.id%>" aria-expanded="false" aria-controls="collapseExample">
          Reply
        </button>
        <% if current_user?(review.user) %>
            <%= link_to "delete", review, method: :delete,data: { confirm: "You sure?" } ,remote:true %>
        <% end %>
        <div class="collapse" id="<%= review.id %>">
          <div class="well" style="padding-left: 60px;">
            <ul class="list_reviews" id = "comments">
                <% if review.comments.any? %>
                    <%= render review.comments %>
                <% end %>
            </ul>
            <ul>
              <li>
                <% if signed_in? %>
                    <%= render 'comments/comment_form', review: review %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
    </div>
</li>