<% provide(:title, "君の本 | Sign in") %>

<% content_for :main do %>
	

<div id="content">
    <div class="container">
        <div class="container">
            <div class="row margin-vert-30">
                <!-- Login Box -->
                <div class="col-md-6 col-md-offset-3 col-sm-offset-3">
                    <%= form_for :session, url: sign_in_path, html:{'data-parsley-validate' => ''} do |f| %>
                    	<% if flash[:danger] %>
						    <div class="text-left">
						        <ul>
						        	<li><%= flash[:danger] %></li>
						        </ul>
						    </div>
						  <% end %>
                        <div class="login-header margin-bottom-30">
                            <h2>Sign in to your account</h2>
                        </div>
                        <div class="input-group margin-bottom-20">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <%= f.text_field :username, class: 'form-control', placeholder: 'Username', required: 'required' %>
                        </div>
                        <div class="input-group margin-bottom-20">
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>
                            <%= f.password_field :password, class: 'form-control', placeholder: 'Password', required: 'required' %>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="checkbox">
                                    <%= f.check_box :remember_me, class: 'flat' %>Stay signed in</label>
                            </div>
                            <div class="col-md-6">
                            	<%= f.submit 'Sign in', class: 'btn btn-primary pull-right submit' %>
                            </div>
                        </div>
                        <hr>
                        
                    <% end %>
                </div>
                <!-- End Login Box -->
            </div>
        </div>
    </div>
</div>
<% end %>

<% extends_layout "admin/layouts/login_layout" %>


